@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&family=PT+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #f8f0fa;
}
body {
  background-color: #121413;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #171a18;

  position: fixed;
  width: 100%;
}
#highlight {
  background-color: #cfae41;
  width: 3.6em;
  height: 3px;
  margin-top: 1em;
}
#Socials {
  text-decoration: none;
  color: #ffe389;
  margin: 1em 2em 0 0;
  transition: 0.2s;
}
nav {
  display: flex;
}
h1 {
  margin: 0.5em auto 0.4em 7rem;
  font-size: 1.5em;
}
#period {
  font-size: 1.5em;
  line-height: 0;
  color: #cfae41;
}
#home,
#Portfolio {
  text-decoration: none;
  color: #fcf2ff;
  margin: 1em 2em 0 0;
  transition: 0.2s;
}
#home:hover,
#Portfolio:hover {
  text-decoration: none;
  color: #ffe389;
  margin: 0.9em 2em 0 0;
}
#navBtn {
  background-color: #e389ff;
  border: none;
  width: 95px;
  height: 35px;
  border-radius: 15px;
  margin: 0.75em 7rem 0 1em;
}
h2 {
  text-align: center;
  font-size: 2.5rem;
}

#ig {
  background-color: #f8f0fa;
  margin: 0.5rem auto;
  text-align: start;
  border: 3px solid #ffe389;
  width: 20em;
  height: 3.5em;
  border-radius: 15px;
  padding: 0em 0 0 0.6em;
}
img {
  width: 2em;
  margin: 0.6em 1em 0 0;
}
div span {
  position: absolute;
  line-height: 3em;
  color: #121413;
}
#github {
  background-color: #f8f0fa;
  text-align: start;
  margin: 0.5rem auto;
  border: 3px solid #ffe389;
  width: 20em;
  height: 3.5em;
  border-radius: 15px;
  padding: 0em 0 0 0.6em;
}
#linkedIn {
  background-color: #f8f0fa;
  text-align: start;
  margin: 0.5rem auto;
  border: 3px solid #ffe389;
  width: 20em;
  height: 3.5em;
  border-radius: 15px;
  padding: 0em 0 0 0.6em;
}
