@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #f8f0fa;
}
body {
  background-color: #121413;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #171a18;

  position: fixed;
  width: 100%;
}

nav {
  display: flex;
}
h1 {
  margin: 0.5em auto 0.4em 5rem;
  font-size: 1.5em;
}
#period {
  font-size: 1.5em;
  line-height: 0;
  color: #cfae41;
}
#home,
#Socials,
#Portfolio {
  text-decoration: none;
  color: #fcf2ff;
  margin: 1em 2em 0 0;
  transition: 0.2s;
}
#home:hover,
#Socials:hover,
#Portfolio:hover {
  text-decoration: none;
  color: #ffe389;
  margin: 0.9em 2em 0 0;
}
#navBtn {
  background-color: #e389ff;
  border: none;
  width: 95px;
  height: 35px;
  border-radius: 15px;
  margin: 0.75em 5rem 0 1em;
}
h2 {
  margin-left: 5rem;
  font-size: 3em;
}
#about {
  margin-left: 5rem;
}
p a {
  color: #cfae41;
}
#cta {
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #f3cc4e;
  width: 155px;
  height: 55px;
  font-size: 20px;
  border-radius: 15px;
  margin: 1em 0 0 5rem;
  text-decoration: none;

  text-underline-position: auto;
}
#emailCta {
  background-color: #e389ff;
  border: none;
  width: 155px;
  height: 55px;
  font-size: 20px;
  border-radius: 15px;
  margin: 1em 0 0 1rem;
  text-decoration: none;

  text-underline-position: auto;
}
